* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: black;
  color: white;
  gap: 2vh;
  font-family: REM, 'Arial Narrow Bold', sans-serif;
}

table {
  border: none;
  border-collapse: separate;
  min-width: min(80vw,80vh);
  min-height: min(80vw,80vh);
  text-align: center;
  font-size: min(10vw,10vh);
  
  background-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red); /* the gradient */
  background-origin: border-box; /* set background to start from border-box */
  border-spacing: 0.4vw; /* space between each cell */ 
  border-radius: 2vw;
  padding: 0.5vw;
}

td {
  background-color: black;
  width: calc(100% / 3);
  height: calc(100% /3);
  border-radius: 1vw;
}

.controller-display {
  position: absolute;
  font-size: min(15vw,15vh);
  transition: 0.5s;
}

.settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  background-color: whitesmoke;
  padding: 1%;
  color: black;
  border: 0.8vw double silver;
  display: none;
}

.settings > div > div {
  display: flex;
  gap: 1vw;
}
h3 {
  margin-bottom: 0.5vh;
}

.settings-btn {
  display: flex;
  gap: 0.2vw;
  padding: 0 0.2vw;
}

button {
  flex: 1;
}

.header {
  display: flex;
  margin-left: min(5vw,5vh);
}
img {
  width: min(5vw,5vh);
  aspect-ratio: 1;
}

input[type="radio"] {
  width: 0;
  height: 0;
}

.settings > div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.settings > div:nth-child(2) > label{
  border-radius: 50%;
  width: min(6vw,6vh);
  height: min(6vw,6vh);
  position: relative;
  text-align: center;
}
label > img {
  width: min(5vw,5vh);
  height: min(5vw,5vh);
}

label[for="player"] > img {
  position: absolute;
  top: 9%;
  left: 11%;
}

label[for="computer"] > img {
  position: absolute;
  top: 2%;
  left: 7.5%;
}

.settings > div:nth-child(2) > input:checked + label{
  background-color:violet;
}
