* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 40vw;
  aspect-ratio: 1;
}

td {
  border: 2px solid black;
  width: 10vw;
  
}
