* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  min-width: min(80vw,80vh);
  min-height: min(80vw,80vh);
}

td {
  border: 2px solid black;
  width: calc(100% / 3);
  height: calc(100% /3);
  
}
